.sensor {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 70%;
  padding: 40px;
  border: 1px solid #e4e4e4;
}

.infos {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 20px;
}


.title {
  font-size: 22px;
  font-weight: 700;
}


.field-group{
  margin-top: 30px;
}


form{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.control{
  display: flex;
  align-items: center;
}

.form-control{
  margin-top: 5px;
}

#rangeControl{
  max-width: 80px;
  max-height: 30px;
  margin-left: 10px;
}